{% extends "base.html" %}

{% block title %}<title>Usuario</title>{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	Usuario:{{usuario}}
	<form action="{% url 'chao' %}" method="post">
		{% csrf_token %}
		<button type="submit">Salir</button>
	</form>
	<a href="{% url 'i1' %}"><button>Volver</button></a>
	<br><a href="{% url 'crudProducto' %}">Productos</a>
	<br><a href="{% url 'crudMarca' %}">Marcas</a>

{% else %}
	<p>No estas ingresado</p>
	<br><a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}